/* Universal selector */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: roboto;
}

/* header */

header{
  height: 100px;
  /* background: grey; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  list-style:  none;
}